.logo{
    display: block;
    margin: auto;
    height: 50px;
    padding: 15px;
}
body{
    background: linear-gradient(rgb(245, 147, 147) , rgb(243, 24, 24));
    height: 100vh;
}
.heading{
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px;
}
.container{
    border-radius: 10px;
    font-family: 'Cabin', sans-serif;
    max-width: 955px;
    /* border: 2px solid white; */
    background-color: white;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}
.message{
    background-color: blue;
    width: 30%;
    color: white;
    padding: 10px;
    margin: 17px 12px;
    /* border: 2px solid red; */
    border-radius: 10px;
    font-size: 1.2rem;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 89%;
    height: 34px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 1.3rem;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    height: 40px;
    font-size: 1.3rem;
}
    